body {
  background-color: #1b1c1e;
  color: wheat;
}

button {
  padding: 15px;
  border-style: none;
  border-left: #2e2e2e 1px solid;
cursor: pointer;
  background-color: wheat;
}


input {
  padding: 15px;
  background-color: wheat;
  border: none;
}
img {
  border-radius: 10%;
  -webkit-box-shadow: 5px 5px 15px 5px #3a3a3a;
  box-shadow: 5px 5px 15px 5px #2e2e2e;
  height: 200px;
  width: 200px;
  margin: 15px;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10%;
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.link {
  text-decoration: none;
  color: wheat;
}
